<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
</head>
<body>
    <div id="app"></div>
    <!-- @merge {name:"libRegular"} -->
    <script src="/src/javascript/lib/regularjs/dist/regular.js"></script>
    <!-- /@merge -->
    <!-- @DEFINE --> 
    <script src="/src/javascript/lib/nej/src/define.js?pro=/src/javascript/&pool=/src/javascript/lib/"></script>
    <script>
        NEJ.define(['pro/module/app'], function (App) {
            new App().$inject('#app');
        });
    </script>
</body>
</html>